node_modules/
.gitignore
config/filesystems.php
public/storage/*

!vendor/

vendor/*
!vendor/laravel/

vendor/laravel/*
!vendor/laravel/framework/

vendor/laravel/framework/*
!vendor/laravel/framework/src/

vendor/laravel/framework/src/*
!vendor/laravel/framework/src/Illuminate/

vendor/laravel/framework/src/Illuminate/*
!vendor/laravel/framework/src/Illuminate/Foundation/

vendor/laravel/framework/src/Illuminate/Foundation/*
!vendor/laravel/framework/src/Illuminate/Foundation/Auth/

vendor/laravel/framework/src/Illuminate/Foundation/Auth/*
!vendor/laravel/framework/src/Illuminate/Foundation/Auth/RegistersUsers.php

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/framework/views/*
storage/framework/sessions/*
storage/logs/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
routes/web.php
routes/web.php
routes/web.php
*.log
*.log
public/img/avatar/Avatar_7_DooywIPCT8F43nQBcDJMY2ZwHYST2X2GzrLOwuvS.jpeg
public/img/avatar/Avatar_7_CXBz9erZo0zVYeNmGJ32kUU4w0UHy4cZxfi1ogj0.png
*.log
