div.title {
	text-align: center;
	margin-bottom: 3em;
}
label.situNo {
	font-size: 1.4em;
}
.textarea {
	height: 103px !important;
}
.file-thumbnail-footer {
	height: initial !important;
}
.file-footer-caption {
	display: none !important;
}
.kv-file-content {
	height: initial !important;
}
.file-preview-image.kv-preview-data {
	height: 100px !important;
}
.krajee-default[data-template="audio"] .file-preview-audio {
	height: 100px !important;
}
.krajee-default .file-other-icon {
	font-size: 4em;
}
.answer, .question {
	padding-left: 2px; 	
	margin: 10px !important;
}
.btn-primary{
	width: 40px;
}
.fa {
	margin: 0;
}
.deleteBtn {
	outline: none;
	/*padding: 0;*/
	border: none;
	background: initial;
	opacity: 0.7;
	transition: all 0.5s;
}
.deleteBtn:hover {
	opacity: 1;
}
.editSituControl {
	width: 10em;
	margin: 0 0.5em;
}