.replay {
	position: fixed;
	bottom: -30px;
	right: 80px;
	overflow: hidden;
}
.play {
	position: fixed;
	bottom: -30px;
	right: 510px;
	overflow: hidden;
}
.record {
	position: fixed;
	bottom: -70px;
	right: 280px;
	overflow: hidden;
}
@media screen and (max-width: 768px) {
	.replay {
		width: 35% !important;
		right: 30px !important;
	}
	.play {
		width: 35% !important;
		left: 30px !important;
	}
	.record {
		width: 35% !important;
		left: 30% !important;
	}
	.replay img {
		width: 100% !important;
		max-width: 262px !important;
	}
	.play img {
		width: 100% !important;
		max-width: 240px !important;
	}
	.record img {
		width: 100% !important;
		max-width: 289px !important;
	}
}
@media screen and (max-height: 400px) {
	.replay {
		top: 230px !important;
		overflow: visible;
	}
	.play {
		top: 220px !important;
		overflow: visible;
	}
	.record {
		top: 290px !important;
		overflow: visible;
	}
}
.replay svg, .play svg, .record svg, .replay img, .play img, .record img {
	cursor: pointer;
}
.replay svg:hover, .play svg:hover, .record svg:hover, .replay img:hover, .play img:hover, .record img:hover {
	-webkit-filter: drop-shadow( 0px 0px 10px blue );
	filter: drop-shadow( 0px 0px 10px blue );
}
div.red svg, div.red img {
	-webkit-filter: drop-shadow( 0px 0px 10px red ) !important;
	filter: drop-shadow( 0px 0px 10px red ) !important;
}
div.blue svg, div.blue img {
	-webkit-filter: drop-shadow( 0px 0px 10px blue );
	filter: drop-shadow( 0px 0px 10px blue );
}
.wordWrap {
	/*width: 90px;*/
	height: 40px;
	/*line-height: 40px;*/
	display: inline-block;
	margin: 5px;
	text-align: center;
	cursor: pointer;
}
.word {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-weight: 500;
	font-size: 2em;
	color: white;
	cursor: pointer;
}
.flexContainer p {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}
#alert {
	display: none;
	position: fixed;
	text-align: center;
	padding: 10px;
	font-size: 1.4em;
	background: rgba(140, 140, 140, 0.9);
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}