#questions {
	text-align: center;
	padding-top: 5%;
}
#problems {
	display: flex;
	align-items: center;
	text-align: center;
	z-index: 1;
	opacity: 0;
}
#problems #qText, #problems #result {
	position: absolute;
	color: white;
	font-family: 'Patrick Hand', cursive;
	font-size: 2.5em;
	left: 50%;
	transform: translate(-50%,-5%);
	z-index: 1;
}
#problems #result {
	font-size: 3.5em;
}
#qText + div, #result + div {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.pinch {
	transition: all 0.3s;
}
.answerLineItem {
	display: inline-block;
	opacity: 0;
}
.answerFlex {
	display: flex;
	align-items: center;
	text-align: center;
}
.btn-answer {
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 15px 30px;
	margin: 10px;
	font-size: 30px;
	font-family: 'Patrick Hand', cursive;
}
.btn-answer.correctAnswer.chosen {
	box-shadow: -7px 7px 5px rgba(102, 102, 153, 0.3), inset 0 0 500px rgba(102, 255, 194, 0.7);
}
.btn-answer.wrongAnswer.chosen {
	box-shadow: -7px 7px 5px rgba(102, 102, 153, 0.3), inset 0 0 500px rgb(255, 128, 128);
}
.imgCross, .imgCheck, .imgCheckWrong {
	color: #33ccff;
	transform: translateX(15%);
	max-width: 100px;
	z-index: 1;
	transition: all 0.4s;
}
.imgCheck, .imgCheckWrong {
	transform: scale(0.65, 0.65);
}
.crossWrap, .checkWrap, .checkWrongWrap {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
}
.pop {
	transform: translate3d(10px,-5px,100px);
}
.btnNext {
	font-size: 20px;
	width: 150px;
	border-radius: 50px;
	font-weight: 800;
	transition: all 0.4s, opacity 0.4s;
}
.btnNext.inv {
	opacity: 0 !important;
}
.chosen.correctAnswer, .chosen.correctAnswer:hover {
	background-color: #008000 !important;
	border-color: #008000 !important;
}
.chosen.wrongAnswer, .chosen.wrongAnswer:hover {
	background-color: red !important;
	border-color: red !important;
}